{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "14"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
    ]
}